<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.hpkj.reimburse.entity.HpoaReimburseInfo"/>
        <mapping class="com.hpkj.reimburse.entity.HpoaReimburseInfos"/>
    </session-factory>
</hibernate-configuration>