<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.hpkj.work.entity.HpoaWorkAssign"/>
		<mapping class="com.hpkj.work.entity.HpoaWorkResponse"/>
		<mapping class="com.hpkj.work.entity.HpoaWorkSubAssign"/>
	</session-factory>
</hibernate-configuration>