<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 业务调度者 -->
	<bean id="scheduleInfoAction" class="ScheduleInfoAction">
		<property name="scheduler" ref="schedulerFactory" />
	</bean>

	<bean id="schedulerJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="scheduleInfoAction" />
		<property name="targetMethod" value="reScheduleJob" />
		<property name="concurrent" value="true" />
	</bean>

	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="schedulerJobDetail" />
		<property name="cronExpression">
			<value>0/10 * * * * ?</value>
		</property>
	</bean>

	<bean id="schedulerFactory"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>
</beans>